{% assign featured = posts.first %}
        <section class="hero" style="background-image: url({{ featured.image }})">
            <div class="pixels"></div>
            <div class="gradient"></div>
            <div class="content">
                <time datetime="{{ featured.date | date_to_xmlschema }}" class="date">
                    {% if site.date_format == nil %}
                        {{ featured.date | date: "%m.%d.%Y" }}
                    {% else %}
                        {{ featured.date | date: site.date_format }}
                    {% endif %}
                </time>
                <a href="{{ featured.url | prepend: site.baseurl }}" class="title">{{ featured.title }}</a>
                <p class="description">{{ featured.subtitle }}</p>
                <div class="buttons">
                    <a href="{{ featured.url | prepend: site.baseurl }}" role="button" class="button">
                        <svg><use xlink:href="#icon-read"></use></svg>
                        <span>{{ site.translations.button.read_now | default: "Read Now" }}</span>
                    </a>
                </div>
            </div>
        </section>
        <div id="mobile-grid">
            <div class="shorts">
            {% for insta_post in site.shorts %}
                <div style="display: inline-block; margin-right: 25px;">
                    {{ insta_post }}
                </div>
            {% endfor %}
            </div>
        </div>